body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial,
        sans-serif;
    margin: 0;
    padding: 20px;
    height: 480px;
    width: 800px;
}

.weather-container {
    padding: 10px;
    border-radius: 16px;
}

.current-weather {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.current-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-basis: 6%;
}

.current-right {
    text-align: right;
    flex-basis: 30%;
}

.current-icon {
    width: 150px;
    height: 150px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
}

.temp-main {
    display: flex;
    flex-direction: column;
}

.temp {
    font-size: 64px;
    font-weight: 400;
}

.description {
    font-size: 32px;
    font-weight: 500;
    margin-top: 5px;
}

.time {
    text-align: right;
    font-size: 12px;
    color: #666;
    margin-top: 8px;
}

.day-name {
    font-size: 32px;
    font-weight: 500;
}

.location {
    font-size: x-large;
    margin: 0;
    font-weight: 500;
}

.details {
    font-size: 14px;
    color: #666;
}

.chart {
    margin-top: 10px;
    border-radius: 12px;
    flex-basis: 100%;
}

.daily-forecast {
    display: flex;
}
