<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Weather</title>
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
    <body>
        <div class="weather-container">
            <div class="current-weather">
                <div class="current-left">
                    <img
                        class="current-icon"
                        src="../static/icons/03n@2x.png"
                        alt="Weather Icon"
                    />
                    <div class="temp-main">
                        <span class="temp">2°C</span>
                    </div>
                    <div class="temps">
                        <span class="description">Cloudy</span><br />
                        <span class="feels">Feels -3°</span><br />
                        <span class="high">H 8° </span>
                        <span class="low">L -1°</span>
                    </div>
                </div>

                <div class="current-right">
                    <span class="day-name">Sunday December 14</span><br />
                    <span class="location">Calgary</span>
                </div>
            </div>
            <div class="daily-forecast">
                <img
                    class="chart"
                    src="../static/graphs/hourly_forecast_12.png"
                />
            </div>
            <div class="time details">Last updated: 8:06 am</div>
        </div>
    </body>
</html>
