<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Weather</title>
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
    <body class="night">
        <div class="weather-container">
            <div class="current-weather">
                <div class="current-left">
                    <img
                        class="current-icon"
                        src="../static/icons/03n@2x.png"
                        alt="Weather Icon"
                    />
                    <div class="temp-main">
                        <span class="temp">-19°C</span>
                    </div>
                    <div class="temps">
                        <span class="description">Cloudy</span><br />
                        <span class="feels">Feels -24°</span><br />
                        <span class="high">H -18° </span>
                        <span class="low">L -22°</span><br />
                        <span class="time">Last updated: 6:42 pm</span>
                    </div>
                </div>

                <div class="current-right">
                    <span class="day-name">Monday December 22</span><br />
                    <span class="location">Calgary</span>
                </div>
            </div>
            <div class="daily-forecast">
                <img
                    class="chart"
                    src="../static/graphs/hourly_forecast_12.png"
                />
            </div>
            <div class="week-forecast"><div class="day-card">
                <div class="dow">Tue</div>
                <img class="day-icon" src="../static/icons/03d@2x.png" alt="" />
                <div class="temps">
                    <span class="high">-5°</span>
                    <span class="low">-20°</span>
                </div>
                </div>
<div class="day-card">
                <div class="dow">Wed</div>
                <img class="day-icon" src="../static/icons/13d@2x.png" alt="" />
                <div class="temps">
                    <span class="high">-9°</span>
                    <span class="low">-16°</span>
                </div>
                </div>
<div class="day-card">
                <div class="dow">Thu</div>
                <img class="day-icon" src="../static/icons/50d@2x.png" alt="" />
                <div class="temps">
                    <span class="high">-10°</span>
                    <span class="low">-15°</span>
                </div>
                </div>
<div class="day-card">
                <div class="dow">Fri</div>
                <img class="day-icon" src="../static/icons/13d@2x.png" alt="" />
                <div class="temps">
                    <span class="high">-11°</span>
                    <span class="low">-15°</span>
                </div>
                </div>
<div class="day-card">
                <div class="dow">Sat</div>
                <img class="day-icon" src="../static/icons/03d@2x.png" alt="" />
                <div class="temps">
                    <span class="high">-15°</span>
                    <span class="low">-20°</span>
                </div>
                </div>
<div class="day-card">
                <div class="dow">Sun</div>
                <img class="day-icon" src="../static/icons/03d@2x.png" alt="" />
                <div class="temps">
                    <span class="high">-6°</span>
                    <span class="low">-18°</span>
                </div>
                </div></div>
        </div>
    </body>
</html>
