<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Weather</title>
        <link rel="stylesheet" href="../static/css/style.css" />
    </head>
    <body class="{{MODE}}">
        <div class="weather-container">
            <div class="current-weather">
                <div class="current-left">
                    <img
                        class="current-icon"
                        src="../static/icons/{{CURRENT_ICON}}"
                        alt="Weather Icon"
                    />
                    <div class="temp-main">
                        <div class="temp">{{TEMP}}°C</div>
                        <div class="feels">Feels {{FEELS}}°</div>
                        <div class="precip-main">Precip. {{PRECIP}}%</div>
                    </div>
                    <div class="temps">
                        <div class="description">{{DESC}}</div>
                        <div class="high">{{HIGH}}°</div>
                        <div class="low">{{LOW}}°</div>
                    </div>
                </div>

                <div class="current-right">
                    <div class="day-name">{{DAY}}</div>
                    <div class="time">Updated: {{TIME}}</div>
                </div>
            </div>
            <div class="daily-forecast">
                <img
                    class="chart"
                    src="../static/graphs/hourly_forecast_12.png"
                />
            </div>
            <div class="week-forecast">{{WEEK_CARDS}}</div>
        </div>
    </body>
</html>
